@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

/*common shared styles */
body {
    font-family: "Open Sans", sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 0.313rem;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #181818;
    font-size: 2rem;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 3rem;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.nav-btn {
    padding: 0.8rem 1.8rem;
}